// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-image: url('kitchensm.jpg');
    background-repeat: repeat-x;
    width: 100%;
}
.jumbotron {
    padding: 60px 10px 10px 10px;
    background-color: black;
    opacity: 0.8;
    color: white;
}
.welcome{
    font-size: 2.5em;
}
.gold {
    color: gold;
    font-weight: 700;
    font-size: 4em;
}

.bold {
    font-weight: 400;
    font-size: 4em;
}